.header {
  position: sticky;
  inset-block-start: 0;
  z-index: 1;
  inline-size: calc(100% + 2rem);
  background-color: inherit;
  margin-inline: -1rem;
  padding-inline: 1rem;
  color: var(--neutral-dark-grayish-blue);
}

.header__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  block-size: 2.625rem;
  max-inline-size: 30rem;
  margin-inline: auto;

  @media (width >= 48rem) {
    max-inline-size: 48rem;
  }

  @media (width >= 64rem) {
    max-inline-size: 69.5rem;
  }
}

.header__logo {
  flex-shrink: 0;
  block-size: clamp(1.5rem, 5.387vi + 0.237rem, 2.5rem);
  inline-size: auto;
  color: var(--neutral-very-dark-blue);
  margin-inline-end: auto;
}
