.news-content {
  display: grid;
  column-gap: 2rem;
  row-gap: 4rem;
  grid-template-areas:
    "hero"
    "new-section"
    "featured-articles";
  max-inline-size: 30rem;
  margin-inline: auto;

  @media (width >= 48rem) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "hero         hero"
      "new-section  featured-articles";
    max-inline-size: 48rem;
  }

  @media (width >= 64rem) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "hero              hero              new-section"
      "featured-articles  featured-articles  featured-articles";
    max-inline-size: 69.5rem;
  }
}

.news-content__hero {
  grid-area: hero;
}

.news-content__new-section {
  grid-area: new-section;
}

.news-content__featured-articles {
  grid-area: featured-articles;
}
