.root {
  min-block-size: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  gap: 1.5rem;
  background-color: var(--neutral-off-white);
  padding-inline: 1rem;
  padding-block-start: 1.5rem;
  padding-block-end: 0.5rem;
}
