.page-wrapper {
  min-block-size: 100svh;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: clamp(1.2rem, 0.2177rem + 4.191vi, 2.9rem);
  background-color: var(--neutral-off-white);
  padding-inline: 1rem;
  padding-block-end: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.page-wrapper:has([inert]) {
  background-color: var(--neutral-grayish-blue);
}
