/* set default font */
body {
  font-family: "Inter Variable", sans-serif;
  font-weight: 400;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
